.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.topic {
    padding: 30px;
    margin: auto;
    width: 95%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.3s ease;
    align-items: flex-start;
}

.topic_upper{
  background:#1e88e5;
  border: none;
  color: white;
  height: 200px;
  width: 300px;
  border-radius: 30px;
  transition: all 0.3s ease;
  margin: 20px;
  box-shadow: 5px 5px 10px 0px gray;
}

.topic_upper:hover{
  background: #e3f2fd;
  color: #1e88e5;
}

.topic_upper{
  cursor: pointer;
}

.topic_upper > h1{
  width: 100%;
  font-size: 1.5rem;
  padding: 5% 0px;
}

.topic_image{
  width: 60px;
}

.topic{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    justify-content:space-evenly;
}


@media screen and (max-width: 1080px) {
    .topic {
      grid-template-columns: repeat(2, 0fr);
    }
  }
  @media screen and (max-width: 720px) {
    .topic{
      grid-template-columns: repeat(1, 0fr);
    }
  }
  